.container {
  position: relative;
  width: 125px;
  height: 125px;
  background: #333;
}

.grid {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  background: linear-gradient(
      0deg,
      rgba(255, 255, 255, 0.2) 1px,
      rgba(0, 0, 0, 0) 1px
    ),
    linear-gradient(90deg, rgba(255, 255, 255, 0.2) 1px, rgba(0, 0, 0, 0) 1px),
    linear-gradient(0deg, rgba(255, 255, 255, 0.1) 1px, rgba(0, 0, 0, 0) 1px),
    linear-gradient(90deg, rgba(255, 255, 255, 0.1) 1px, rgba(0, 0, 0, 0) 1px);
  background-position: 0px -1px;
  background-size: 25px 25px, 25px 25px, 5px 5px, 5px 5px;
}
.bar {
  position: absolute;
  width: 1px;
  bottom: 0;
  background: rgb(255, 96, 23);
}

.axis {
  opacity: 0;
  position: absolute;
  background: #ff5a5a;
}
.axis.x {
  width: 1px;
  height: 100%;
  transform-origin: 0 0;
}
.axis.y {
  bottom: 0;
  width: 100%;
  height: 1px;
  transform-origin: 100% 0;
}
