.rangeslider-vertical .rangeslider__fill {
  width: 100%;
  background-color: #fff !important;
  box-shadow: none;
  bottom: 0;
}

.rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
}
